/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

/* Estilos para las tecnologías favoritas */
.tecnologias {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tecnologia {
    width: 100px;
    text-align: center;
}

.tecnologia img {
    max-width: 100%;
}

/* Estilos para las actividades favoritas */
#actividad-form {
    margin-bottom: 20px;
}

#actividad-form label {
    display: block;
    align-content: flex-start;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

#actividad-form input,
#actividad-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

#actividad-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
}

#actividad-form button:hover {
    background-color: #555;
}

.actividad {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.actividad img {
    max-width: 100%;
    margin-bottom: 10px;
}